/*CONTACT STYLES*/
.main-contact {
	position: relative;
	padding-bottom: 80px;
}

.main-container-contact {
	h2 {
		font-size: 3.5rem;
	}
	.standout {
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 5px;
	}
}

.container-contact {
	width: 60%;
}

.container-flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.company-loc {
	width: 45%;
	p {
		font-family: $headingFont;
		font-size: 1.3rem;
		font-style: normal;
		line-height: 2;
		margin-top: 0;
	}
}

.company-loc:nth-child(even) p {
	margin-top: 45px;
}

.acf-map {
    width: 100%;
    height: 645px;
    border: #ccc solid 1px;
    margin: 20px 0;
}

.map {
	width: 44%;
	position: absolute;
	right: 0;
	top: -30px;
}

.wpcf7-form {
	display: flex;
	flex-wrap: wrap;
	p:nth-child(2),
	p:nth-child(3), {
		width: 40%;
	}
	
	p:nth-child(4){
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: -20px;
	}

	input,
	textarea {
		padding: 10px;
		background-color: $accentBack;
		border: none;
		font-weight: 300;
	}

	input[type=text],
	input[type=email] {
		width: 100%;
		display: inline-block;
	}

	input[type=email] {
		position: relative;
		left: 25px;
	}

	input[type=submit] {
		padding: 10px 25px;
		font-weight: 400;
	}

	textarea {
		width: 85%;
	}
	label {
		width: 100%;
	}

	.accessibility {
		visibility: hidden;
	}

	::-webkit-input-placeholder {
	   font-weight: 300;
	   font-style: italic;
	}

	:-moz-placeholder { /* Firefox 18- */
	   font-weight: 300;
	   font-style: italic;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   font-weight: 300;
	   font-style: italic;
	}

	:-ms-input-placeholder {  
	   font-weight: 300;
	   font-style: italic;
	}

}