html {
	font-size: 62.5%;
	color: $typeColor;
}

body {
	font-size: 16px;
}

/*headings*/
h1,
h2,
h3,
h4,
h5 {
	font-family: $headingFont;
}

h1 {
	font-weight: 300;
}

/*links*/

a {
	padding: 3px 0;
	color: #000000;
	font-family: $baseFont;
	font-size: 1.2rem;
	font-style: italic;
	font-weight: 400;
	text-decoration: underline;
	text-transform: capitalize;
	transition: color 0.3s;
	&:hover {
		color: $typeFade;
	}
}

/* paragraphs */

p {
	font-family: $baseFont;
	font-weight: 300;
	font-style: italic;
	font-size: 1.4rem;
	line-height: 1.7;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}